apiVersion: v1
kind: Service
metadata:
  namespace: services
  name: orchestrator-service
  labels:
    app: orchestrator
    env: {{ .Values.global.env }}
spec:
  type: ClusterIP
  selector:
    app: orchestrator
  ports:
    - name: http-orchestrator
      appProtocol: http
      port: 50002
      targetPort: 8000
